<div class="titulo"> <h1>EDUCACIÓN:</h1> </div> 

<table class="educacion">

  <tr>
   <th>INSTITUTOS</th>
   <th>INFORMACIÓN</th>
  </tr>

 <tr>
  <td> <img alt="logo UNCa" src="./assets/pictures/unca.jpg" width="80px" height="80px"/> </td>
  <td>
    <h4>{{miPortfolio.University}}</h4>
    <p>{{miPortfolio.startFinish}}</p>
    <p>{{miPortfolio.titleU}}</p>
  </td>
  </tr>

  <tr>
  <td> <img alt="logo inti" src="./assets/pictures/inti.png" width="80px" height="90px  " /> </td>
  <td>
    <h4>{{miPortfolio.Instituto}}</h4>
    <p>{{miPortfolio.startfinishI}}</p>
    <p>{{miPortfolio.titleI}}</p>
  </td>
  </tr>

</table>

<hr>

<div class="titulo"> <h1>EXPERIENCIA:</h1> </div>     

<table class="experiencia">

    <tr>
      <th>INSTITUCIONES</th>
      <th>INFORMACIÓN</th>
    </tr>
    
    <tr>
      <td> <img alt="logo maternidad" src="./assets/pictures/maternidad.jpg" width="80px" height="100px"/> </td>
      <td> 
      <h4>{{miPortfolio.Hospital}}</h4>
      <br> 
      <p>{{miPortfolio.jobH}}</p>
      <p>{{miPortfolio.startH}} - {{miPortfolio.timeElapsed}}</p>
      </td>
    </tr>
    
    <tr>
      <td> <img alt="logo iziPizza" src="./assets/pictures/izi.jpg" width="80px" height="80px"/> </td>
      <td>
      <h4>{{miPortfolio.place}}</h4>
      <br>
      <p>{{miPortfolio.jobP}}</p>
      <p>{{miPortfolio.startP}} - {{miPortfolio.finishP}}</p>
      </td>
    </tr>
    
    <tr>
      <td> <img alt="logo soem" src="./assets/pictures/soem.png" width="80px" height="90px  " /> </td>
      <td>
      <h4>{{miPortfolio.placeS}}</h4>
      <br>
        <p>{{miPortfolio.jobS}}</p>
      <p>{{miPortfolio.startS}} - {{miPortfolio.finishS}}</p>

      </td>
    </tr>
    </table>